#cc-wrapper {
  z-index: 10;
  position: fixed;
  bottom: 2em;
  right: 1em;
  max-width: min(30em, 90vw);
  width: 100%;
  background: #fefefe;
  border: 1px solid #aeaeae;
  border-radius: 0.3em;
  box-shadow: 0 0 1.2em rgba(5, 0, 31, 0.25);
  padding: 0 1em;
  transition: all 0.5s ease-in;
}

#cc-close-icon {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
}

.cc-heading {
  font-weight: 700;
  line-height: 1;
  border-bottom: 1px solid #e9e9ed;
  font-size: 1.1em;
}

.cc-text {
  font-size: normal;
  line-height: 1.4;
}

.cc-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.cc-buttons > button {
  cursor: pointer;
  margin: 0.4em;
  padding: 0.5em 1em;
  height: auto;
}

.cc-footer {
  padding: 0;
  margin: 0.5em 0;
  font-size: smaller;
  text-align: center;
}

.cc-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cc-footer li {
  display: inline-block;
  padding: 0 1em;
}

.cc-footer li.cc-hidden {
  padding: 0;
  margin: 0;
  display: none;
}

.cc-hidden {
  display: none;
}
